h6{
    color: white;
}
.color1 {
    background-color: lightgreen;
    color: lightgreen;
}
.green {
    background-color: green;
    color: green;
}
.red {
    background-color: red;
}
.pink {
    background-color: pink;
}
.black{
    background-color: black;
}